certifi==2021.10.8
cffi==1.15.0
charset-normalizer==2.0.10
cryptography==36.0.1
decorator==5.1.1
future==0.18.2
geographiclib==1.52
geopy==2.2.0
idna==3.3
pycparser==2.19
python-telegram-bot==12.6.1
regex==2022.1.18
requests==2.27.1
six==1.12.0
tornado==6.1
urllib3==1.26.8
